---
layout: base.njk
title: 标签
permalink: tags/
show_intro: true
show_tag_nav: true
---

{% if redirectUrl %}
  <script id="tag-redirect" data-target="{{ redirectUrl }}">
    const target = document.currentScript?.dataset?.target;
    if (target) {
      window.location.replace(target);
    }
  </script>
  <p><a href="{{ redirectUrl }}">{{ redirectUrl }}</a></p>
  <noscript>
    <p>
      浏览器不开心吗？但是你/妳一定要开心哦quq
      <br>
      因为缺少了 JavaScript, 您需要手动点击某个标签来浏览其中的文章。
      <br>
      如果不知道点哪个标签，我的建议是点击离这段文字最近的那个小链接(以"/tags/"开头的那个），因为那是<i>本该</i>跳转到的地方。
    </p>
  </noscript>
{% else %}
  <p>妳不应该看到这段文字......</p>
{% endif %}
