<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | 233 Neko's Blog</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <main>
    {% block content %}{{ content | safe }}{% endblock %}
  </main>
</body>
</html>
