<hr>
<footer class="site-footer">
  <p class="meta">
    © 2019-2025 Ameyama Mio & Ametou Networks.
    <br>
    Certain rights reserved. | <a style="white-space: nowrap;" href="/copyright" rel="license">Copyright Notice</a>
  </p>
  <p class="meta">
    Powered by <a href="https://www.11ty.dev/" rel="noopener noreferrer" target="_blank">Eleventy</a>, a simple static site generator.
  </p>
  <p class="meta">
    <a style="white-space: nowrap;" href="https://icp.gov.moe/?keyword=20256356" target="_blank">萌ICP备20256356号</a> | <a style="white-space: nowrap;" href="https://github.com/anyneko/anyneko.github.io" target="_blank">Source Code</a>
  </p>
  <p class="meta">
    Build: {{ buildTime | date("yyyy-MM-dd HH:mm:ss.fff") }} UTC · <code>{{ commitHash }}</code>
  </p>
</footer>
