<hr>
<footer class="site-footer">
  <p class="meta">
    © 2019-2025 Ameyama Mio & Ametou Networks.
  </p>
  <p class="meta">
    Certain rights are reserved as stated in <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license noopener noreferrer" target="_blank">CC BY-NC-SA 4.0</a> for original works.
  </p>
  <p class="meta">
    Powered by <a href="https://www.11ty.dev/" rel="noopener noreferrer" target="_blank">Eleventy</a>, a simple static site generator.
  </p>
  <p class="meta">
    Build: {{ buildTime | date("yyyy-MM-dd HH:mm:ss.fff") }} UTC · <code>{{ commitHash }}</code>
  </p>
</footer>
