<hr>
<footer class="site-footer">
  <p class="meta">死掉了就太可惜啦。陪妳多走一程，好不好？</p>
  <p class="meta">© 2019-2025 Ameyama Mio & Ametou Research Institute.</p>
  <p class="meta">
    Certain rights are reserved as stated in <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license noopener noreferrer" target="_blank">CC BY-NC-SA 4.0</a> for original works.
  </p>
  <p class="meta">
    Build: {{ buildTime | date("yyyy-MM-dd HH:mm:ss.fff") }} UTC · <code>{{ commitHash }}</code>
  </p>
</footer>
